## Foldery kompilacji i binaria
[Db]ebug/
[Rr]elease/
bin/
obj/

## Pliki użytkownika Ridera/VS
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

## Baza danych (nie chcemy pchać lokalnego pliku db na GitHuba)
*.db
*.db-shm
*.db-walś